<mat-sidenav-container class="layout">
    <mat-sidenav mode="side" opened class="sidenav">
        <mat-toolbar color="primary">Microfrontends</mat-toolbar>
        <div mat-subheader>v19</div>
        <mat-nav-list>
            <a mat-list-item routerLink="/contabilidade" routerLinkActive="active-link">Contabilidade</a>
            <a mat-list-item routerLink="/tesouraria" routerLinkActive="active-link">Tesouraria</a>
        </mat-nav-list>
        <div mat-subheader>v10</div>
        <mat-nav-list>
            <a mat-list-item routerLink="/investidor" routerLinkActive="active-link">Investidor</a>
            <a mat-list-item routerLink="/fundo" routerLinkActive="active-link">Fundo</a>
        </mat-nav-list>
        <div mat-subheader>v8</div>
        <mat-nav-list>
            <a mat-list-item routerLink="/chamada-capital" routerLinkActive="active-link">Chamada Capital</a>
            <a mat-list-item routerLink="/participante" routerLinkActive="active-link">Participante</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="toolbar">
            <span>Portal Corporativo</span>
        </mat-toolbar>

        <div class="content">
            <p>web component</p>
            <app-chamada-capital></app-chamada-capital>
            <hr>
            <router-outlet />

        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
